<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Reset Password Page</title>
</head>
<body>
<div class="container">
    <h3>Reset Password Page</h3>
    {% for category, message in get_flashed_messages(with_categories=true) %}
    <div class="alert-danger">
        {{ message }}
    </div>
    {% endfor %}

    <form action="{{ url_for('password_reset') }}" method="POST">
        <label for="email">Enter the Email address you signed with</label>
        <input type="email" id="email" name="email" placeholder="Email" required>
        <button type="submit">Login</button>
    </form>
</div>
</body>
</html>
