<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
        /* Add custom styles for bullet points */
        #publish_sectors {
            list-style-type: disc;
            margin: 0;
            padding: 0;
            padding-left: 20px; /* Adjust as needed for indentation */
        }
        #publish_sectors label {
            display: block;
            margin-bottom: 5px;  /* Adjust as needed for spacing between items */
        }
    </style>
    <title>New user register</title>
</head>
<body>
    <div class="login-container">
        <h1>Create new account</h1>
        <form method="post" action="{{ url_for('register') }}">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>

            <label for="internet_package_type">Internet Package Type:</label>
            <select id="internet_package_type" name="internet_package_type" required>
                <option value="1">Basic</option>
                <option value="2">Standard</option>
                <option value="3">Premium</option>
            </select>

            <label for="publish_sectors">Publish Sectors:</label>
            {% for sector in sectors %}
                <div>
                    <input type="checkbox" id="publish_sectors" name="publish_sectors" value="{{ sector }}">
                    <label for="{{ sector }}">{{ sector }}</label>
                </div>
            {% endfor %}

            <button type="submit">Create new account</button>
        </form>
    </div>
</body>
</html>
